<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('.static', filename='scripts/bootstrap_6.4.2.bundle.min.js')}}"
            crossorigin="anonymous"></script>
    <link href="{{url_for('.static', filename='scripts/bootstrap_6.4.2.min.css')}}" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"
            integrity="sha512-mhbv5DqBMgrWL+32MmsDOt/OAvqr/cHimk6B8y/bx/xS88MVkYGPiVv2ixKVrkywF2qHplNRUvFsAHUdxZ3Krg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='scripts/InteractOA_app.js')}}"></script>

    {{head_src|safe}}
</head>
<header>
    <div class="container-fluid"></div>
</header>
<body>
<div id="article_body" class="container">
    {{article_body|safe}}
</div>
</body>
<footer>
    <div class="container-fluid"></div>
</footer>
</html>