<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>InteractOA - Start</title>
    <script src="{{url_for('.static', filename='scripts/jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('.static', filename='scripts/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='scripts/app.js')}}"></script>
    <link rel="icon" type="image/png" href="{{url_for('.static', filename='images/favico.png')}}">
</head>
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
            	<img src="{{url_for('.static', filename='images/logo.png')}}" style="height: 44px;"/>
                <a class="navbar-brand" href="#">InteractOA</a>
            </div>
        </div>
    </nav>
</header>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h3>Welcome to InteractOA!</h3>
                    <br/>
                    <p>
                        InteractOA is a visual interactive tool to visualize the RNA interactions inside prokaryotic cells and cite these interactions to the literature based on an Open Access (OA) platform "Wikidata"!
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="card bg-dark text-white">Viewer</div>
                    <div class="card-body">
                        <form>
                            <label for="organism">Select organism: </label>
                            <select name="organism" id="organism" class="form-control">
                                <option value="Q21102938">Escherichia coli str. K-12 substr. MG1655</option>
                            </select>
                            <br/>
                            <label for="viewer_type">Select viewer type: </label>
                            <select name="viewer_type" id="viewer_type" class="form-control">
                                 <option value="Graph" selected>Graph</option>
                                 <option value="Tree">Tree</option>
                                 <option value="TreeMap">Tree Map</option>
                                 <option value="Table">Tabular</option>
                            </select>
                            <br/>
                            <div class="float-right">
                                <button class="btn-lg" type="button" onclick="open_viewer(document.getElementById('organism').value, document.getElementById('viewer_type').value)">View</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
<footer>
    <div class="page-footer font-small blue pt-4 mt-4">
    	
		
    </div>
</footer>
</html>