<!DOCTYPE html>
<!-- All images used in this website are sourced from an open source images website pixabay.com-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>InteractOA - Start</title>
		<script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
		<script type="text/javascript" src="{{url_for('.static', filename='scripts/InteractOA_app.js')}}"></script>
		<link rel="icon" type="image/png" href="{{url_for('.static', filename='images/favico.png')}}">
		<style>
			.modal-full {
				min-width: 100%;
				margin: 0;
			}
			.modal-full .modal-content {
				min-height: 100vh;
			}
		</style>
	</head>
	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="navbar-header">
				<a href="index.html"><img src="{{url_for('.static', filename='images/logo.png')}}" style="height: 44px;"/></a>
				<a class="navbar-brand" href="index.html">InteractOA</a>
			</div>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a href="#" class="btn nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"><img src="{{url_for('.static', filename='images/info.png')}}" style="height: 44px;"/></a>
						<div class="dropdown-menu dropdown-menu-right bg-dark">
							<a class="btn dropdown-item bg-dark text-light" data-toggle="modal" data-target="#AboutModal">About InteractOA</a>
							<a class="btn dropdown-item bg-dark text-light" data-toggle="modal" data-target="#HelpModal">Help & FAQ</a>
							<a class="btn dropdown-item bg-dark text-light" data-toggle="modal" data-target="#SourceModal">Sources</a>
							<a class="btn dropdown-item bg-dark text-light" data-toggle="modal" data-target="#TermsModal">Usage Terms & License</a>
							<a class="btn dropdown-item bg-dark text-light" data-toggle="modal" data-target="#ContactModal">Contact Us</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="jumbotron">
						<div align="center">
							<h3>Welcome to InteractOA!</h3>
						</div>
						<div align="justify">

							InteractOA is a visual interactive tool to visualize the RNA interactions inside prokaryotic cells and cite these interactions to the literature based on an Open Access (OA) platforms.
							It's a freely open, editable, and centralized database for the biological research community.
							</br>  Powered by: Wikidata and Europe Pubmed Central.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" align="center">
			<form id="organism_selector">
				<div class="row justify-content-center text-center" align="center">
					<div class="col-lg-10" align="center">
						<p class="blockquote">
							For an organism of your selection, you can either open the visualizer to see RNA interactions graphs or browse references to literature for each interaction
						</p>
					</div>
					<div class="col-lg-8" align="center">
						<table>
							<tbody>
								<tr>
									<select name="organism" id="organism" class="form-control form-control-lg">
										<option value="Q21102938">Escherichia coli str. K-12 substr. MG1655</option>
									</select>
								</tr>
								<tr>
									<td>
									<button type="button" class="btn btn-outline-secondary btn-lg" style="padding: 10px; margin: 20px;" data-toggle="modal" data-target="#VisualizerModal">
										Open Visualizer
									</button></td>
									<td>
									<button type="button" class="btn btn-outline-secondary btn-lg" style="padding: 10px; margin: 20px;" data-toggle="modal" data-target="#RefsModal">
										Browse References
									</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
		<div id="VisualizerModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-full modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="VisualizerModalTitle" class="modal-title">Interactions Visualization</h5>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
					</div>
					<div id="Vis_div" class="modal-body bg-light container-fluid">

						<div id="div_visualizer_settings">
							<form id="settings_form">
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-6" align="center">
										<div style="display: inline-block;">
											<h4>Set Visual Preferences:</h4>
										</div>
									</div>
								</div>
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-5 table-responsive-lg">
										<table class="table-borderless" style="width:100%">
											<tbody>
												<tr>
													<td><label>Select viewer type: </label></td>
													<td>
													<select name="viewer_type" id="viewer_type" class="form-control form-control-sm">
														<option value="Graph" selected>Graph</option>
														<option value="Tree">Tree</option>
														<option value="TreeMap">Tree Map</option>
														<option value="Table">Tabular</option>
													</select></td>
												</tr>
												<tr>
													<td><label>Search Words: </label></td>
													<td>
													<input type="text" id="WORDS" name="WORDS" class="form-control form-control-sm" data-toggle="tooltip" title="Searches ONLY in RNA, not in the target genes.">
													</td>
												</tr>

											</tbody>
										</table>
									</div>
									<div class="col-lg-1 table-responsive-lg">
										<button id="view_button" class="btn btn-lg btn-outline-dark" type="button" onclick="button_view_on_click()">
											View
										</button>
									</div>
								</div>
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-3">
										<div class="card bg-light form-group" data-toggle="tooltip" title="Note: Checking RNA and non-coding RNA may include other unchecked ones because they are generic. Therefore, unchecking them may exclude some desired records. It depends on how the data was imported.">

											<h6 class="card-title">Select RNA types:</h6>
											<div id="filters" class="checkbox card-body" >
												<input type="checkbox" id="RNA_TYPE1" name="RNA_TYPE" value="Q11053" checked>
												<label> RNA</label></br>
												<input type="checkbox" id="RNA_TYPE2" name="RNA_TYPE" value="Q427087" checked>
												<label> non-coding RNA</label></br>
												<input type="checkbox" id="RNA_TYPE3" name="RNA_TYPE" value="Q423832" checked>
												<label> Antisense RNA</label></br>
												<input type="checkbox" id="RNA_TYPE4" name="RNA_TYPE" value="Q201448">
												<label> transfer RNA</label></br>
												<input type="checkbox" id="RNA_TYPE5" name="RNA_TYPE" value="Q285904" checked>
												<label> transfer-messenger RNA</label></br>
												<input type="checkbox" id="RNA_TYPE6" name="RNA_TYPE" value="Q424665" checked>
												<label> single recognition partcile</label></br>
												<input type="checkbox" id="RNA_TYPE7" name="RNA_TYPE" value="Q1012651" checked>
												<label> RNase P</label>
											</div>
										</div>
										<div id="OPTIONAL" class="checkbox form-control form-control-sm">
											<input type="checkbox" id="OPTIONAL_INTERACT" name="OPTIONAL_INTERACT" value="optional">
											<label>Include non-interacted records</label>
											<br>
											<input type="checkbox" id="ONLY_NO_INTERACT" name="ONLY_NO_INTERACT" value="only_no_interacted">
											<label>Show only non-interacted records</label>
											<br>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card bg-light form-group">
											<h6 class="card-title">Select interactions types:</h6>
											<div id="shows" class="checkbox card-body" >
												<input type="checkbox" id="SHOW_TYPE1" name="SHOW_TYPE" value="P128" checked>
												<label> Regulates</label></br>
												<input type="checkbox" id="SHOW_TYPE2" name="SHOW_TYPE" value="P3777" checked>
												<label> Anti Sense Inhibitor</label></br>
												<input type="checkbox" id="SHOW_TYPE3" name="SHOW_TYPE" value="P3773" checked>
												<label> Antagonist</label></br>
												<input type="checkbox" id="SHOW_TYPE4" name="SHOW_TYPE" value="P3776" checked>
												<label> Inhibitor</label></br>
												<input type="checkbox" id="SHOW_TYPE5" name="SHOW_TYPE" value="P3771" checked>
												<label> Activator</label></br>
												<input type="checkbox" id="SHOW_TYPE6" name="SHOW_TYPE" value="P3774" checked>
												<label> Blocker</label></br>
												<input type="checkbox" id="SHOW_TYPE7" name="SHOW_TYPE" value="P3772" checked>
												<label> Agonist</label></br>
												<input type="checkbox" id="SHOW_TYPE8" name="SHOW_TYPE" value="P3775">
												<label> Disrupting Agent</label></br>
												<input type="checkbox" id="SHOW_TYPE9" name="SHOW_TYPE" value="P3778">
												<label> Positive Allosteric Modulator</label></br>
												<input type="checkbox" id="SHOW_TYPE10" name="SHOW_TYPE" value="P3779">
												<label> Negative Allosteric Modulator</label></br>
												<input type="checkbox" id="SHOW_TYPE11" name="SHOW_TYPE" value="P3781">
												<label> Has Active Ingedient</label></br>
												<input type="checkbox" id="SHOW_TYPE12" name="SHOW_TYPE" value="P3780">
												<label> Active Ingredient of</label>
											</div>
										</div>
									</div>
							</form>
						</div>
					</div>
					<div id="div_visalizer_iframe">
						<iframe name="iframe_viewer" id="iframe_viewer" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups" style="display:block; padding: 0px; margin: 0px;"></iframe>
					</div>
				</div>
				<!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>-->
			</div>

		</div>
		</div>
		<div id="RefsModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-full modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 id="RefsModalTitle" class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div id="refs_div" class="modal-body bg-light container-fluid">
						<iframe name="refs_iframe" id="refs_iframe" scrolling="auto" style="display:block; padding: 0px; margin: 0px;"></iframe>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
		<div id="AboutModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">About InteractOA</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div class="modal-body">
						<h5>InteractOA</h5>
						<p>
							InteractOA is tool to interactively visualize genomic RNA interactions based on an open access biological content of <a href="www.wikidata.org">Wikidata</a>.
							In addition to this, It also provides seamless hasslefree references to the claiming statements of the interactions that are mentioned in the Open Access scientific literature.
							The current source of these references is <a href="https://europepmc.org/">Europe PubMed Central</a>.
							This tool is developed to push the wheels of Open Science and to help the biological research community.
							This tool is still in the prototyping phase.
						</p>
						<h5>Funding</h5>
						<p>
							This project is funded by Federal Ministry of Education and Research <a href="https://www.bmbf.de/">BMBF</a>. </br>
							More info: <a href="https://www.bildung-forschung.digital/de/im-ueberblick-16-innovative-open-access-projekte-starten-2198.html">here</a>.</br>
						</p>
						<h5>Developers</h5>
						<p>
							InteractOA and it's prerequisite tools are all developed by: Muhammad Elhossary under supervision of Prof. Konrad Foerstner at <a href="https://uni-wuerzburg.de/startseite/">University of Würzburg</a>.</br>
							Press link: <a href="http://www.presse.uni-wuerzburg.de/aktuell/einblick/archiv/single/news/zur-quelle-des-wissens/">here</a>
						</p>
						<h5>Related Projects</h5>
						<a href="http://wikigenomes.org/">WikiGenomes</a></br>
						<a href="https://en.wikipedia.org/wiki/Wikipedia:Gene_Wiki">GeneWiki</a></br>
						<a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Molecular_biology">Wikidata Project Molecular Biology</a></br>
						<a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Microbiology">Wikidata Project Microbiology</a></br>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
		<div id="HelpModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Help & FAQ</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div class="modal-body">
						<p>
							TBA
						</p>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
		<div id="SourceModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Sources</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div class="modal-body">
						<h5>Source code can be found here:</h5>
						<ul>
							<li>
								<a href="https://github.com/elhossary/InteractOA">Github</a>
							</li>
							<li>
								<a href="https://phabricator.wikimedia.org/source/tool-interactoa/">Phabricator</a>
							</li>
						</ul>
						</br>

						<h5>Source code for related tools that used to import data to wikidata:</h5>
						<ul>
							<li>
								GFF gene annotation importing tool <a href="https://github.com/elhossary/WD_GFF_Annotation_Importer-v1">Github</a>
							</li>
							<li>
								RegulonDB interactions importing tool <a href="https://github.com/elhossary/RegulonDB-Interactions-Wikidata-Importing-Tool-v1">Github</a>
							</li>
						</ul>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
		<div id="TermsModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Usage Terms & License</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div class="modal-body">
						<p>
							InteractOA is hosted at: <a href="https://tools.wmflabs.org/">Wikimedia Foundation Labs Toolforge</a>.
							All data of the interactions and gene annotations are hosted in <a href="www.wikidata.org">Wikidata</a>.
							No literature is hosted in InteractOA, InteractOA only refere to the articles in it's original source <a href="https://europepmc.org/">Europe PubMed Central</a>.
							All data of InteractOA are licensed under <a href="https://wiki.creativecommons.org/wiki/CC0">CC-0 Public Domain</a>.
							All source codes are licensed under <a href="https://en.wikipedia.org/wiki/ISC_license">ISC license</a>.
						</p>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
		<div id="ContactModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Contact Us</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>

					</div>
					<div class="modal-body">
						You can reach us through the following links:
						</br>
						<a href="https://meta.wikimedia.org/wiki/User:Konrad_Foerstner">Konrad Foerstner</a>
						</br>
						<a href="https://meta.wikimedia.org/wiki/User:Muhammad_elhossary">Muhammad Elhossary</a>
					</div>
					<!--<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>-->
				</div>

			</div>
		</div>
	</body>
	<!-- <footer>
	<div class="page-footer font-small blue pt-4 mt-4">
	<div class="container">
	<div class="row"></div>
	</div>
	</div>
	</footer>-->
</html>