<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>InteractOA - Interactions Viewer</title>
		<base target="_parent">
		<script src="{{url_for('.static', filename='scripts/jquery.min.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
		<script src="{{url_for('.static', filename='scripts/bootstrap.bundle.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('.static', filename='scripts/viewer_loader.js')}}"></script>
		<link rel="icon" type="image/png" href="{{url_for('.static', filename='images/favico.png')}}">
	</head>
	<body onload="viewer_loader()">
		<div class="container-fluid" align="center">
			<div id="first_row" class="row" align="center">
				<div class="col-lg-12" align="center">
					<h4>Interactions Visualization</h4>
					<p>
						See all cited/referenced interactions <a id="cited_link" href="" target="_self">here</a>
					</p>
				</div>

			</div>
			<div class="row" align="center">
				<div class="col-lg-12" align="center">
					<iframe name="iframe_viewer" id="iframe_viewer" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
				</div>
			</div>
	</body>
</html>