<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InteractOA - Interactions Viewer</title>
	<base target="_parent">
	<script src="{{url_for('.static', filename='scripts/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='scripts/app.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('.static', filename='scripts/bootstrap.bundle.min.js')}}"></script>
	<link rel="icon" type="image/png" href="{{url_for('.static', filename='images/favico.png')}}">
</head>
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
            	<img src="{{url_for('.static', filename='images/logo.png')}}" style="height: 44px;"/>
                <a class="navbar-brand" href="#">InteractOA</a>
            </div>
        </div>
    </nav>
</header>
<body onload="loader()">
    <div class="container-fluid" align="center">
    	<div class="row" align="center">
            <div class="col-lg-12" align="center">
            	<h1>Interactions Visualization</h1>
            	<p>See all cited/referenced interactions <a id="cited_link" href="">here</a></p>
            </div>
            
        </div>
        <div class="row" align="center">
        	<div class="col-lg-12" align="center">
	            <div class="embed-responsive embed-responsive-16by9" align="center">
		        	<iframe class="embed-responsive-item" name="iframe_viewer" id="iframe_viewer" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
	        	</div>
        	</div>
    	</div>
</body>
<footer>
    <div class="page-footer font-small blue pt-4 mt-4" align="center">
        
    </div>
</footer>
</html>